@model IEnumerable<SuperHeroi>

@{
    ViewBag.Title = "Super Hérois";    
}

<div class='row hide-on-small-only'>
    <a asp-action='Criar' class="waves-effect waves-light btn right">
        <i class="fa fa-plus left"></i>
        Criar
    </a>
</div>

<div class="fixed-action-btn hide-on-med-and-up">
    <a asp-action='Criar' class="btn-floating btn-large waves-effect waves-light">
        <i class="fa fa-plus"></i>
    </a>        
</div>

@if (Model.Any())
{
    <div class='collection'>
        @foreach (var item in Model)
        {        
            <a asp-action='Editar' asp-route-id='@item.Id' class='collection-item avatar'>            
                <div class='item-avatar'>
                    <i class="fas fa-user-ninja"></i>
                </div>
                @item.Nome <br>
                <span class='grey-text'> @item.SuperPoder </span>
                
            </a>
        }
    </div>
}
else
{
    <p> 😱 Não há super hérois por aqui! </p>
}
